<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
      <link rel="stylesheet" href="../styles/style.css">

      <title>{{ title }}</title>

    </head>
    <body>
      <header>
        <h1>Node.js</h1>
        <p><a href="https://github.com/MikeSewell">gitHub</a></p>
      </header>
      <div id="main" >
        <aside>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Other">Other</a></li>
            <li><a href="/api">API</a></li>
          </ul>
        </aside>
        <section>
          {{{body}}}
        </section>
      </div>
    </body>
</html>
