<p class="data">This is the data from an api call to Google's geocode api.</p>
<p class="data"><span>{{ city }}</span></p>
<p class="data"><span>Latitude: {{ lat }}</br> Longitude: {{ lng }}</span></p>