<p class="data">Welcome to my sample Node.js MVC application</p>
{{!-- <p>Welcome to the homepage of {{ title }}...</p> --}}
{{!-- <p><a href="/api">link to Google's api Geocode data</a></p> --}}

