body,h1,p{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;

}
header{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C57B57;
    color: #251605;
}
#main{
    display: flex;
    height: 100%;
}
aside{
    width: 20%;
    background-color: #F7DBA7
}
section{
    background-color: #F1AB86;
    width: 80%;
}
.data{
    padding-left: 2rem;
    padding-top: 1rem;
}
ul{
    list-style: none;
    text-transform: uppercase;
}
li{
    padding-top: .5rem;
}
a{
    color: #9CAFB7;
    cursor: pointer;
}
span{
    border: 2px solid #9CAFB7;
    padding: .5rem;
}
